@{
    ViewData["Title"] = "Domovská stránka";
}

<h1>Vítejte v inventárním systému autoservisu!</h1>
<p>Toto je úvodní stránka aplikace.</p>

<a class="btn btn-primary" asp-controller="Budova" asp-action="Create">Přidat novou budovu</a>
<a class="btn btn-primary" asp-controller="Sklad" asp-action="Create">Přidat nový sklad</a>
<a class="btn btn-primary" asp-controller="Predmet" asp-action="Create">Přidat nový předmět</a>
