@model Inventarni_system.Models.Sklad

<h2>Upravit sklad</h2>

<form asp-action="Edit" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />
    <div>
        <label asp-for="Nazev">Název:</label>
        <input asp-for="Nazev" required />
    </div>
    <div>
        <label asp-for="BudovaId">Budova:</label>
        <select asp-for="BudovaId" class="form-control" asp-items="ViewBag.BudovaId"></select>
        @Html.ValidationMessageFor(m => m.BudovaId, "", new { @class = "text-danger" })
    </div>
    <button type="submit" class="btn btn-primary mt-2">Uložit změny</button>
</form>
