@model Inventarni_system.Models.Budova

<h2>Přidat novou budovu</h2>

<form id="addBudovaForm">
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div>
        <label asp-for="Nazev">Název:</label>
        <input id="Nazev" name="Nazev" required />
        @Html.ValidationMessageFor(m => m.Nazev, "", new { @class = "text-danger" })
    </div>
    <div>
        <label asp-for="Typ">Typ:</label>
        <input id="Typ" name="Typ" required />
        @Html.ValidationMessageFor(m => m.Typ, "", new { @class = "text-danger" })
    </div>
    <button type="button" onclick="submitForm()">Přidat</button>
</form>

<script>
    function submitForm() {
        
        var nazev = document.getElementById("Nazev").value;
        var typ = document.getElementById("Typ").value;

        
        fetch('/Budova/Create', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
                'X-Requested-With': 'XMLHttpRequest' 
            },
            body: new URLSearchParams({
                '__RequestVerificationToken': document.querySelector('input[name="__RequestVerificationToken"]').value, 
                'Nazev': nazev,
                'Typ': typ
            })
        })
            .then(response => {
                if (response.ok) {
                    window.location.href = '/Budova'; 
                } else {
                    alert('Došlo k chybě při odesílání formuláře.');
                }
            })
            .catch(error => {
                console.error('Chyba:', error);
                alert('Nastala chyba při odesílání formuláře.');
            });
    }
</script>
