@model Inventarni_system.Models.Budova

<h2>Potvrzení smazání</h2>

<p>Opravdu chcete smazat budovu <strong>@Model.Nazev</strong>?</p>

<form asp-action="Delete" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />
    <button type="submit">Ano, smažte</button>
    <a asp-action="Index">Zrušit</a>
</form>
